{% extends "base-site.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<main class="main-content col-12">

            

          

<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
      <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">Panel Overview</h3></div></div><div class="row"><div class="col-lg col-md-6 col-sm-6 mb-4"><div class="stats-small stats-small--1 card card-small"><div class="card-body p-0 d-flex"><div class="d-flex flex-column m-auto"><div class="stats-small__data text-center"><span class="stats-small__label text-uppercase">PREÇOS REGISTRADOS</span><span class="stats-small__label text-uppercase"><font color="#3d5170" face="Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, sans-serif"><span style="font-size: 33px;">319526</span></font><br></span></div>
            </div>
            <canvas height="136" class="blog-overview-stats-small-1 chartjs-render-monitor" width="341" style="display: block; width: 341px; height: 136px;"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-6 col-sm-6 mb-4">
        <div class="stats-small stats-small--1 card card-small">
          <div class="card-body p-0 d-flex"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <div class="d-flex flex-column m-auto">
              <div class="stats-small__data text-center">
                <span class="stats-small__label text-uppercase">EMpresas</span>
                <h6 class="stats-small__value count my-3">263</h6>
              </div>
              <div class="stats-small__data">
                <span class="stats-small__percentage stats-small__percentage--increase">10.5%</span>
              </div>
            </div>
            <canvas height="136" class="blog-overview-stats-small-2 chartjs-render-monitor" width="341" style="display: block; width: 341px; height: 136px;"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-4 col-sm-6 mb-4">
        <div class="stats-small stats-small--1 card card-small">
          <div class="card-body p-0 d-flex"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <div class="d-flex flex-column m-auto">
              <div class="stats-small__data text-center">
                <span class="stats-small__label text-uppercase">iNFLAÇÃO IPCA</span>
                <h6 class="stats-small__value count my-3">3.428%</h6></div>
            </div>
            <canvas height="136" class="blog-overview-stats-small-3 chartjs-render-monitor" width="341" style="display: block; width: 341px; height: 136px;"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-4 col-sm-6 mb-4">
        <div class="stats-small stats-small--1 card card-small">
          <div class="card-body p-0 d-flex"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <div class="d-flex flex-column m-auto">
              <div class="stats-small__data text-center">
                <span class="stats-small__label text-uppercase">Drogas aprovadas</span>
                <h6 class="stats-small__value count my-3">2223</h6>
              </div>
              <div class="stats-small__data">
                <span class="stats-small__percentage stats-small__percentage--decrease"><span style="color: rgb(196, 24, 60);">2.4%</span></span>
              </div>
            </div>
            <canvas height="136" class="blog-overview-stats-small-4 chartjs-render-monitor" width="341" style="display: block; width: 341px; height: 136px;"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg col-md-4 col-sm-12 mb-4">
        <div class="stats-small stats-small--1 card card-small">
          <div class="card-body p-0 d-flex"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <div class="d-flex flex-column m-auto">
              <div class="stats-small__data text-center">
                <span class="stats-small__label text-uppercase">REceita obrigatória</span><span class="stats-small__label text-uppercase"><span style="color: rgb(61, 81, 112); font-family: Roboto, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Arial, sans-serif; font-size: 33px;">18.67%</span><br></span></div></div></div></div></div></div><div class="row"><div class="col-lg-8 col-md-12 col-sm-12 mb-4"><div class="card card-small"><div class="card-header border-bottom"><h3 class="page-title" style="margin-right: 0px; margin-bottom: 0px; margin-left: 0px; line-height: 1; font-size: 1.625rem; padding: 0px; background-color: rgb(245, 246, 248);">Média móvel geral</h3></div><div class="card-body pt-0">
            <canvas height="509" style="max-width: 100% !important; display: block; width: 1176px; height: 509px;" class="blog-overview-users chartjs-render-monitor" width="1176"></canvas>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card card-small h-100">
          <div class="card-header border-bottom">
            <h6 class="m-0">Medicamentos por tarja</h6>
          </div>
          <div class="card-body d-flex py-0"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
            <canvas height="408" class="tarja-percent m-auto chartjs-render-monitor" width="557" style="display: block; width: 557px; height: 408px;"></canvas>
          </div>
        </div>
      </div>
  
      

      <!-- Top Referrals Component -->
      <div class="col-8 mx-auto mb-4 pb-5">
        <div class="card card-small">
          <div class="card-header border-bottom">
            <h6 class="m-0">Maiores empresas de medicamentos:</h6>
          </div>
      <table border="1" class="table">
        <thead>
          <tr style="text-align: left;">
            <th>LABORATORIO</th>
            <th>SUBSTANCIA</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>EMS S/A</th>
            <td>14446</td>
          </tr>
          <tr>
            <th>GEOLAB INDÚSTRIA FARMACÊUTICA S/A</th>
            <td>11414</td>
          </tr>
          <tr>
            <th>ACHÉ LABORATÓRIOS FARMACÊUTICOS S.A</th>
            <td>11202</td>
          </tr>
          <tr>
            <th>PRATI DONADUZZI &amp; CIA LTDA</th>
            <td>10157</td>
          </tr>
          <tr>
            <th>EUROFARMA LABORATÓRIOS S.A.</th>
            <td>8947</td>
          </tr>
          <tr>
            <th>LABORATÓRIO TEUTO BRASILEIRO S/A</th>
            <td>8760</td>
          </tr>
          <tr>
            <th>CRISTÁLIA PRODUTOS QUÍMICOS FARMACÊUTICOS LTDA.</th>
            <td>8158</td>
          </tr>
          <tr>
            <th>LEGRAND PHARMA INDÚSTRIA FARMACÊUTICA LTDA</th>
            <td>8097</td>
          </tr>
          <tr>
            <th>GERMED FARMACEUTICA LTDA</th>
            <td>7862</td>
          </tr>
          <tr>
            <th>BRAINFARMA INDÚSTRIA QUÍMICA E FARMACÊUTICA S.A</th>
            <td>7710</td>
          </tr>
        </tbody>
        </table>

        </div>
      </div>
      <!-- End Top Referrals Component -->
    </div>
 </div>
  


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>

  'use strict';

  (function ($) {
    $(document).ready(function () {

      // Blog overview date range init.
      $('#blog-overview-date-range').datepicker({});

      //
      // Small Stats
      //

      // Datasets
      var boSmallStatsDatasets = [
        {
          backgroundColor: 'rgba(0, 184, 216, 0.1)',
          borderColor: 'rgb(0, 184, 216)',
          data: [1, 2, 1, 3, 5, 4, 7],
        },
        {
          backgroundColor: 'rgba(23,198,113,0.1)',
          borderColor: 'rgb(23,198,113)',
          data: [1, 2, 3, 3, 3, 4, 4]
        },
        {
          backgroundColor: 'rgba(255,180,0,0.1)',
          borderColor: 'rgb(255,180,0)',
          data: [2, 3, 3, 3, 4, 3, 3]
        },
        {
          backgroundColor: 'rgba(255,65,105,0.1)',
          borderColor: 'rgb(255,65,105)',
          data: [1, 7, 1, 3, 1, 4, 8]
        },
        {
          backgroundColor: 'rgb(0,123,255,0.1)',
          borderColor: 'rgb(0,123,255)',
          data: [3, 2, 3, 2, 4, 5, 4]
        }
      ];

      // Options
      function boSmallStatsOptions(max) {
        return {
          maintainAspectRatio: true,
          responsive: true,
          // Uncomment the following line in order to disable the animations.
          // animation: false,
          legend: {
            display: false
          },
          tooltips: {
            enabled: false,
            custom: false
          },
          elements: {
            point: {
              radius: 0
            },
            line: {
              tension: 0.3
            }
          },
          scales: {
            xAxes: [{
              gridLines: false,
              scaleLabel: false,
              ticks: {
                display: false
              }
            }],
            yAxes: [{
              gridLines: false,
              scaleLabel: false,
              ticks: {
                display: false,
                // Avoid getting the graph line cut of at the top of the canvas.
                // Chart.js bug link: https://github.com/chartjs/Chart.js/issues/4790
                suggestedMax: max
              }
            }],
          },
        };
      }

      // Generate the small charts
      boSmallStatsDatasets.map(function (el, index) {
        var chartOptions = boSmallStatsOptions(Math.max.apply(Math, el.data) + 1);
        var ctx = document.getElementsByClassName('blog-overview-stats-small-' + (index + 1));
        new Chart(ctx, {
          type: 'line',
          data: {
            labels: ["Label 1", "Label 2", "Label 3", "Label 4", "Label 5", "Label 6", "Label 7"],
            datasets: [{
              label: 'Today',
              fill: 'start',
              data: el.data,
              backgroundColor: el.backgroundColor,
              borderColor: el.borderColor,
              borderWidth: 1.5,
            }]
          },
          options: chartOptions
        });
      });


      //
      // Blog Overview Users
      //

      var bouCtx = document.getElementsByClassName('blog-overview-users')[0];

      // Data
      var bouData = {
        // Generate the days labels on the X axis.
        labels: Array.from(new Array(12), function (_, i) {
          return i === 0 ? 1 : i;
        }),
        datasets: [{
          label: 'Preço Máximo',
          fill: 'start',
          data: [
            {% for key,value in data['means'].iloc[::-1].iterrows() %}
              {{ value['MAX'] }},
            {% endfor %}
          ],
          backgroundColor: 'rgba(0,123,255,0.1)',
          borderColor: 'rgba(0,123,255,1)',
          pointBackgroundColor: '#ffffff',
          pointHoverBackgroundColor: 'rgb(0,123,255)',
          borderWidth: 1.5,
          pointRadius: 0,
          pointHoverRadius: 3
        }, {
          label: 'Preço Mínimo',
          fill: 'start',
          data: [
            {% for key,value in data['means'].iloc[::-1].iterrows() %}
              {{ value['MIN'] }},
            {% endfor %}
          ],
          backgroundColor: 'rgba(255,65,105,0.1)',
          borderColor: 'rgba(255,65,105,1)',
          pointBackgroundColor: '#ffffff',
          pointHoverBackgroundColor: 'rgba(255,65,105,1)',
          borderDash: [3, 3],
          borderWidth: 1,
          pointRadius: 0,
          pointHoverRadius: 2,
          pointBorderColor: 'rgba(255,65,105,1)'
        }]
      };

      // Options
      var bouOptions = {
        responsive: true,
        legend: {
          position: 'top'
        },
        elements: {
          line: {
            // A higher value makes the line look skewed at this ratio.
            tension: 0.3
          },
          point: {
            radius: 0
          }
        },
        scales: {
          xAxes: [{
            gridLines: false,
            ticks: {
              callback: function (tick, index) {
                // Jump every 7 values on the X axis labels to avoid clutter.
                return index % 7 !== 0 ? '' : tick;
              }
            }
          }],
          yAxes: [{
            ticks: {
              suggestedMax: 45,
              callback: function (tick, index, ticks) {
                if (tick === 0) {
                  return tick;
                }
                // Format the amounts using Ks for thousands.
                return tick > 999 ? (tick/ 1000).toFixed(1) + 'K' : tick;
              }
            }
          }]
        },
        // Uncomment the next lines in order to disable the animations.
        // animation: {
        //   duration: 0
        // },
        hover: {
          mode: 'nearest',
          intersect: false
        },
        tooltips: {
          custom: false,
          mode: 'nearest',
          intersect: false
        }
      };

      // Generate the Analytics Overview chart.
      window.BlogOverviewUsers = new Chart(bouCtx, {
        type: 'LineWithLine',
        data: bouData,
        options: bouOptions
      });

      // Hide initially the first and last analytics overview chart points.
      // They can still be triggered on hover.
      var aocMeta = BlogOverviewUsers.getDatasetMeta(0);
      aocMeta.data[0]._model.radius = 0;
      aocMeta.data[bouData.datasets[0].data.length - 1]._model.radius = 0;

      // Render the chart.
      window.BlogOverviewUsers.render();

      // Data
      var tarjadata = {
        datasets: [{
          hoverBorderColor: '#ffffff',
          data: [
            {% for key,value in data['tarjas_porcentage'].iteritems() %}
              {{ value }},
            {% endfor %}
          ],
          backgroundColor: [
            'rgba(45, 237, 2, 0.62)',
            'rgba(4, 20, 0, 0.62)',
            'rgba(237, 30, 2, 0.94)'
          ]
        }],
        labels: ["Sem Tarja", "Tarja Preta", "Tarja Vermelha"]
      };

      // Options
      var ubdOptions = {
        legend: {
          position: 'bottom',
          labels: {
            padding: 25,
            boxWidth: 20
          }
        },
        cutoutPercentage: 0,
        tooltips: {
          custom: false,
          mode: 'index',
          position: 'nearest'
        }
      };

      var ubdCtx = document.getElementsByClassName('tarja-percent')[0];

      window.ubdChart = new Chart(ubdCtx, {
        type: 'pie',
        data: tarjadata,
        options: ubdOptions
      });

    });
  })(jQuery);
</script>

{% endblock javascripts %}
